{%extends 'app_uno/base.html'%}
{%block body_block%}
<div class="container">
  <div class="jumbotron">
      <h1>Sistema de gestion de datos</h1>
      <p>Sistema web para subir datos a base de datos de GRMD</p>
      <p>Para subir datos es necesario:</p>
      <ul>
        <li>Registrarse en el sitio</li>
        <li>Pedir permisos al administrador segun que tipo de datos se requiera subir</li>
        <li>Ingresar con cuenta al sitio</li>
        <li>Elegir una de las opciones de subir datos que aparecen en la barra de navegacion superior</li>
        <li>Seleccionar el tipo de archivo en el formato que se indica y presionar el boton 'submit'</li>
      </ul>
  </div>
</div>


{%endblock%}
